.container {
    width: 300px;
    margin: auto;
}

.playfield {
    width: 70%;
    margin: auto;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.cell-board {
    height: 200px;
    border: 2px solid;
    padding-top: 70px;
    font-size: 35px;
    text-align: center;
}

.menu {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}

.menu p {
    padding-top: 8px;
    /*display: none;*/
}

.menu button {
    font-size: 24px;
    font-weight: 500;
    padding: 6px 10px;
}

#reset {
    margin:auto;
    display:block;
}

@media all and (max-width: 650px) {

    .cell-board {
        height: 70px;
        padding-top: 20px;
        font-size: 20px;
    }


    .menu {
        font-size: 12px;
        padding-top: 4px;
        display: inline;
    }

    .menu button {
        font-size: 12px;
        padding: 3px 5px
    }

    .inline-buttons {
        display: inline-flex;
    }
}
